.card__container.card {
    height: 400px;
    width: 400px;
    border: 1px solid red;
    margin: 10rem 10rem;
    margin-top: 10rem;

    &__img {
        width: 200px;
        height: 300px;
        
        
        
    }
}