@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i");
    

.nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    display: flex;
    background-color:#D6D6D5;
    font-family: 'Nunito', sans-serif;
    align-items: center;
    
   
    
    


    &__logo{
        font-size: 3rem;
        margin: 2rem;
    }

    &__items{
        display: flex;
        gap: 5rem;
        font-size: 2rem;
        text-decoration: none;
        letter-spacing: 4px;
        margin: 2rem;
        list-style-type: none
    }

   

    &__btn{
        font-size: 1.5rem;
        margin: 2rem;
        background-color:#D6D6D5;
        font-family: 'Nunito', sans-serif;
        align-items: center;
        border: none;
        text-transform: uppercase;
        font-size: 2rem;
        color: black;
        height: 4rem;
        letter-spacing: 2px;
    
        
        
    }


}